<%- include('partials/header'); -%>

<nav class="navbar">
  <div class=" container-fluid ">
  <span class=" fs-2">Topics</span>
  <a href="/addQuestion" class="btn btn-dark boxy" style="margin-left: auto;">Add a question</a>
  </div>
</nav>

<div style="display: flex;">
<div class=" col-sm-6">
<ul class=" d-grid gap-3">
  <% if(topics.length > 0){ %>
    <% topics.forEach((topic)=>{ %>
    
    
    <div class="row">
    <div class="col-sm-1"></div>
    <a href="/practice/<%=topic.topic%>" class="btn">
    <li class="col-sm-10  p-2 bg-light border hover_">
        <h3><%= topic.topic %></h3>
    </li>
    </a>
    </div>
  <% }) %>
<% }else{ %>
      <P>NOTHING TO DISPLAY YET</P>
<%  } %>  
</ul>
</div>


<div class=" col-sm-6" style="height: 25em;">
  <img src="\sol2.png" class="" style="height: 100%;" >
</div>
</div>

<%- include('partials/footer'); -%>